:root {
    --main-font: Raleway;
    --accent-font: 'STIX Two Text';
    --bg-color: #f3efec;
    --text-color: #312a4e;
    --accent-color: #ffab6b;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    color: var(--text-color, #312a4e);
    background: var(--bg-color, #f3efec);
    font-family: var(--main-font, sans-serif), sans-serif;
    min-inline-size: 360px;
    margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
    margin: 0;
}

.heading {
    font-weight: 600;
    line-height: 0.9;
    font-family: var(--accent-font, sans-serif), sans-serif;
    text-align: center;
}

.content-section {
    padding: 0 5vi;
}

.header {
    padding-block-start: 10%;
}

.heading__title {
    font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
    margin-block-end: 40px;
}

.content__title {
    font-size: 30px;
    margin: 7% 0 2.5%;
}
